@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth !important;
	overflow-x: hidden;
}

body {
	overflow-x: hidden !important;
	max-width: 100% !important;
	color: white;
	background: #151414;
}
