@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth !important;
	overflow-x: hidden;
}

:root {
	/* Your default theme */
	--background: white;
	--foreground: #151414;
}

[data-theme="dark"] {
	--background: #151414;
	--foreground: white;
}

body {
	overflow-x: hidden !important;
	max-width: 100% !important;
	color: white;
	background: #151414;
}
